.bookCard-body{
    background-color: #ffebd9;
    opacity:1;
    min-height:30vh;
    max-height:60vh;
    border-right: 0.7em solid #d8bea7;
    border-bottom: 0.7em solid #d8bea7;
    border-top: 0.1em solid #d8bea7;
}
.card-text{
    font-size:0.8vw;
}
.wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .wrapper:after {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
  .wrapper img {
    width: auto;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }